
body{
    background-image: url("../morado.jpg");
    }
    /*espacio ----------------------------------------------------- */
  h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 8vw;
    background-image: url("../yo.jpg");
    text-align: center;
    color:rgb(73, 11, 97);
    border-radius: 0.7vw;

    margin-top: 80px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;

    padding: 50px 80px;
    }
    /*espacio ----------------------------------------------------- */
    p {
    font-size: 25px;
    line-height: 50px;
    background-color: rgb(229, 206, 255);
    border-style: dashed;
    border-width: 20px;
    border-color: rgb(73, 11, 97);
    border-radius: 0.7vw;
    color: aliceblue;

    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;

    padding: 50px 80px;
     }
     /*espacio ----------------------------------------------------- */
    h2 {
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 35px;
        line-height: 50px;
        background-color: rgb(229, 206, 255);
        border-style: dashed;
        border-width: 20px;
        /*border-color: rgb(254, 1, 153);*/
        border-radius: 0.7vw;
        color: rgb(73, 11, 97);
        text-align: center;
        background-image: url("../yo.jpg");
    
        margin-top: 100px;
        margin-bottom: 100px;
        margin-right: 150px;
        margin-left: 80px;
    
        padding: 50px 80px;
    }


            
        